@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  height: 100%;
} 

@font-face {
    font-family: myfont;
    src: url(https://www.fontspace.com/aerologica-font-f43859);
}

body {
    background-color: #222222;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 10;
    grid-template-columns: 10;

}

#nav {
    border: solid 2px white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: myfont;


}

#p1-hud {
    border: solid 1px white;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    width: auto;
}

#p1-buttons {
    display: grid;
    border: solid 1px white;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-content: center;
}

#p2-hud {
    border: solid 1px white;
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
    width: auto;
    

}

#p2-buttons {
    display: grid;
    border: solid 1px white;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-content: center;
    align-content: center;
}

#game {
    display: ;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
    background-image: url('./images/pokemon.png');

}

#game-narrative {
    border: solid 1px white;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#message {
    border: 0;
    background-color: black;
    border-bottom: 4px solid black;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    left: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
}

.socials {
    border: solid 1px white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: center;
      }


#start {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    border: solid 1px white;
}

#player2 {
    background: transparent;   
    height: 100px;
    width: 100px;
        transform: translate(650%, 250%);
        display: inline-block;

  }

  #player1 {
 
    background-repeat: no-repeat; 
    background-size: none;
    height: 110px;
    width: 110px;
        content: url('./images/charmander.png'); 
        transform: translate(50%, 230%);
        display: inline-block;
  }

  #start-button {
background: none;
border: none;

  }
 