@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  height: 100%;
} 

@font-face {
    font-family: myfont;
    src: url(https://www.fontspace.com/aerologica-font-f43859);
}

body {
    background-color: #222222;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 10;
    grid-template-columns: 10;

}

#nav {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    text-align: center;
    align-items: center;


}

#p1-hud {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    padding-left: 10px;

}

#p1-buttons {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-content: center;
}

#p2-hud {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    padding-left: 15px;
    

}

#p2-buttons {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-content: center;
    align-content: center;
}

#game {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
    border: 5px solid black;
    border-bottom: none;
    background-image: url('./images/pokemon.png');
    min-width: 900px;

}

#game-narrative {
    display: grid;
    border: solid 1px white;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    min-height: 20px;
    border: 5px solid black;
    border-top: none;
    background-color: black;
    align-items: center;
    align-content: center;
}

#message {
    display: grid;
    border: 0;
    background-color: black;
    border-bottom: 4px solid black;
    color: white;
    font-family: inherit;
    position: relative;
    bottom: 0;
    left: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    width: 100%;
    max-height: 100%;
    align-items: center;
    align-content: center;
    word-wrap: break-word;
    padding: 0;
}

.socials {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: center;
      }


#start {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
}

#player2 {
    background: transparent;   
    height: 100px;
    width: 100px;
        transform: translate(600%, 250%);
        display: inline-block;

  }

  #player1 {
 
    background-repeat: no-repeat; 
    background-size: none;
    height: 110px;
    width: 110px;
        content: url('./images/charmander.png'); 
        transform: translate(50%, 230%);
        display: inline-block;
  }

  #start-button {
background: none;
border: none;
    font-family: 'Press Start 2P', cursive;
  }

  #attack1 {
    background: red;
    border: solid 4px black;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    margin: 5px;
  }

  #attack2 {
    background: red;
    border: solid 4px black;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    margin: 5px;
  }

  #heal1 {
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: green;
    border: black solid 4px;
    font-size: x-large;
    margin: 5px;
  }
  #heal2 {
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: green;
    border: black solid 4px;
    font-size: x-large;
    margin: 5px;
  }

  #equip1 {
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: grey;
    border: black solid 4px;
    font-size: large;
    margin: 5px;
  }

  #equip2 {
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: grey;
    border: black solid 4px;
    font-size: large;
    margin: 5px;
  }
 
 